:root {
  --primary-color: #268187;
  --primary-color-lighter: #35acac;
  --secondary-color: #B84B9B;
  --light-grey-text: #5F6363;
  --white: #fff;
  --gap: 10px;
  --font-weight: 700;
  --font-size-basic: 18px;
  --font-size-h: 24px;
  --text-shadow: 0.1em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  --heading-font: 'Space Mono', monospace;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: color .5s;
}

.contact a {
    color: #3AFFEB;
    font-weight: 600;
}

a:hover,
a:focus {
  color: var(--primary-color-lighter);
}

a:active {
  /* selected link */
  color: var(--primary-color-lighter);
  text-shadow: none;
}

.about {
  background-color: var(--white);
  width: 100%;
  padding: 2%;
  margin: 0;
}

.about_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.about_item {
  padding: 5px;
  align-items: center;
  text-align: center;
}

.about_img{
  width: 50%;
  max-width: 150px;
}

/* Grid fallback */
.about_item {
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: 200px;
}

.about_skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
}

.about_skills img{
  width: 80px;
  height: 87px;
  margin: 5px;
}

.about_text {
  margin-top: 0px;
}

.bio-facts {
  list-style-type: decimal;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font: 300 var(--font-size-basic) 'Assistant', sans-serif;
  line-height: 1.6;
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

button,
.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  font-family: inherit;

  /* styles the button */
  background-color: var(--primary-color);
  color: var(--white);
  text-decoration: none;
  padding: var(--gap);
  transition: box-shadow .5s, background-color .5s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  color: var(--white);
  box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
  background-color: var(--secondary-color);
}

button:active,
.button:active {
  box-shadow: none;
  background-color: var(--primary-color-lighter);
}

.contact .button {
    background-color: transparent;
}

.contact .button:hover,
.contact .button:focus {
    background-color: transparent;
    box-shadow: none;
}

.cv {
  text-align: center;
}

div {
  margin: 5px 10%;
}

.dropdown {
  display:none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}

.grid__item {
  background-color: var(--white);
  padding: 2%;
  box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.3);
}

.grid__item:last-child {
  border: 3px solid var(--secondary-color);
  text-align: center;
}

/* Grid fallback */
.grid__item {
  display: flex;
  flex-direction: column;
  width: auto;
  background-color: var(--white);
  min-width: 290px;
  justify-content: space-between;
}

div.layout {
  margin: 2px;
  position: relative;
  overflow: hidden;
}

.grid__item footer {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 10px;
}

.grid_img {
  max-width: 100%;
  transition: .5s ease-in-out;
}

.layout:hover .grid_img,
.layout:focus .grid_img {
  transform: scale(1.1);
}

.overlay p span {
  background-color: #B84B9B;
  margin: 5px;
}

h1 {
  font: var(--font-weight) 30px var(--heading-font);
}

h2 {
  font: var(--font-weight) var(--font-size-h) var(--heading-font);
}

h3 {
  font: var(--font-weight) var(--font-size-basic) var(--heading-font);
}

@keyframes letter-grow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes color-change {
  0% {
    fill: var(--primary-color-lighter);
  }

  50% {
    fill: #fff;
  }

  100% {
    fill: var(--primary-color);
  }
}

@keyframes pointer-move {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-1800px, 400px);
  }

  100% {
    transform: translate(100px, 800px);
  }
}

#path102 {
  animation: 3s color-change infinite ease;
}

#path104 {
  animation: 5s color-change infinite ease;
}

#path106 {
  animation: 7s color-change infinite ease;
}

#path108 {
  animation: 9s color-change infinite ease;
}

#path118,
#path120,
#path122,
#path124 {
  animation: 5s pointer-move infinite alternate;
}

.main,
#main {
  min-height: 92vh;
  width: 85%;
  min-width: 870px;
  padding: 8px;
  padding-top: 10px;
  margin: auto;
  margin-top: 10px;
}
  
#main.contact {
  text-align: center;
  background-color: #B84B9B;
  color: #fff;
  width: 100%;
}

.navigation-list {
  max-width: 600px;
  margin-right: 20px;
  margin-left: auto;
}

.navigation-list__item {
  margin: 0px;
  width: 20%;
  text-align: center;
  font-size: 20px;
  color: var(--primary-color);
  float: right;
}

.navigation-list__item:hover,
.navigation-list__item:focus {
  color: var(--secondary-color);
}

.overlay {
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(38, 129, 135, 0.7);
  opacity: 0;
  text-align: center;
  padding: 2%;
  transition: .4s ease-in-out;
}

.layout:hover .overlay,
.layout:focus .overlay {
  opacity: 1;
}

.page-header {
  position: fixed;
  z-index: 10;
  background-color: white;
  border-bottom: 1px solid var(--primary-color-lighter);
  display: flex;
  width: 100%;
  align-items: center;
  animation: slide-out 3s;
}

@keyframes slide-out {
    0% {
      transform: translateY(-20vh);
    }
  
    80% {
      transform: translateY(-15vh);
    }
  
    100% {
      transform: translateY(0vh);
    }
  }

.page-header__item {
  flex: 1 2;
}

img.page-header__item {
  width: 90px;
  height: 40px;
  margin-left: 30px;
  margin-top: 6px;
}

#main.profile {
 background-color: #fff;
  margin: auto;
  display: flex;
  max-width: 900px;
}

.profile__footer {
  clear: both;
  text-align: center;
  bottom: 0;
  margin-left: -8px;
  position: absolute;
  width: 101%;
  height: 100px;
  background-color: var(--primary-color-lighter);
  color: #000;
  border-top: 2px solid #fff;
}

.profile__portrait {
  float: left;
  align-content: center;
  margin: auto;
  margin-right: 50px;
  max-width: 280px;
  max-height: 280px;
  border-radius: 50%;
  flex: 1 1 300px;
  box-shadow: 4px 3px 25px rgba(0, 0, 0, 0.3);
  animation: roll-out 2.5s;
}

@keyframes roll-out{
    0% {
        transform: translateX(-100vw);
    }
    50% {
        transform: translateX(-100vw) rotate(0deg);
    }
    100% {
        transform: translateX(0vw) rotate(360deg);
    }
}

.profile__text {
  flex: 2 1 150px;
  flex-direction: column;
  align-content: center;
  margin: auto;
  font-size: 24px;
}

.profile__text h1 {
    overflow: hidden; 
    animation: type-hello 1s steps(6,end) 1;
}

@keyframes type-hello{
    from {
        width: 0px;
    }
    to {
        width: 107px;
    }
}

.profile__text p {
    animation: slide-left 2.5s;
}

@keyframes slide-left{
    0% {
        transform: translateX(100vw);
    }
    50% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(0vw);
    }
}

.profile__text .button {
    font-size: 20px;
    animation: button-fadein 3s;
}

@keyframes button-fadein{
    0% {
      opacity: 0;
    }
    90% {
        opacity: 0;
      }
    100% {
      opacity: 1;
    }
}

.required {
  color: var(--light-grey-text);
  font-size: 14px;
}

span {
  font-family: 'Inconsolata', monospace;
  background-color: #000;
  color: var(--white);
  margin: 3px;
  padding: 3px;
}

span.wrap {
    background-color: transparent;  
    margin: 0px;
}

span.animation {
    border-right: solid 3px var(--secondary-color);
    background-color: transparent;  
    font-family: 'Assistant', sans-serif;  
    color: #000;
    margin: 0px;
    padding: 0px;
    animation: animated-cursor 600ms infinite;
}
  
  /* cursor animations */
@keyframes animated-cursor{
    from {
      border-right-color: var(--secondary-color);
    }
    to {
      border-right-color: transparent;
    }
}

.SM_icon {
  height: 30px;
}

svg {
  max-height: 300px;
}

.svg-source {
  font-size: 6px;
  color: #fff;
  margin-top: -10px;
  text-align: center;  
}

textarea {
  box-sizing: border-box;
  width: 90%;
  height: 150px;
}

.w1 {
  animation: letter-grow 1s 5s 2;
}

.w2 {
  animation: letter-grow 2s 5s 2;
}

.w3 {
  animation: letter-grow 3s 5s 2;
}

.dot {
  animation: letter-grow 4s 5s 2;
}

@media all and (max-width: 970px) {
  .about_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gap);
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  img.page-header__item {
    width: 70px;
    height: 35px;
    margin-left: 10px;
  }

  .main,
  #main {
    width: 95%;
    min-width: 290px;
  }

  .navigation-list {
    margin-right: 0;
  }

 .navigation-list__item {
    font-size: 18px;
    width: 25%;
  }
}

@media all and (max-width: 630px) {
  body {
    font-size: 16px;
  }

  div {
    margin: var(--gap);
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: var(--gap);
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: var(--font-size-h);
  }

  h2 {
    font-size: 20px;
  }
  
  h3 {
    font-size: 16px;
    margin: 10px;
  }

  img.page-header__item {
    width: 60px;
    height: 30px;
    margin-left: 5px;
  }

  .main,
  #main {
    width: 100%;
    margin-top: 20px;
    padding: 5px;
    padding-top: 15px;
  }
  
  .navigation-list {
    width: 100%;
    margin-left: 0;
  }

  .navigation-list__item {
    margin-top: -5px;
    font-size: 16px;
  }

  .profile {
    flex-direction: column;
    align-items: center;
  }

  .page-header {
    flex-direction: column;
    align-items: center;
  }

  .profile__portrait {
    margin: 0px;
    margin-top: 10vh;
    max-width: 180px;
    max-height: 180px;
  }
  
  .profile__text {
    text-align: center;
    font-size: 16px;
  }

  .profile__text h1 {
    font-size: 24px;
    margin: 10px auto;
  }

  .profile__text .button{
    font-size: 16px;
  }
}

@media all and (max-width: 430px) {
  .about_grid {
    grid-template-columns: 1fr;
    align-items: center;
    margin: auto;
  }

  .about_img {
    width: 90px;
  }

  .about_skills img{
    width: 60px;
    height: 65px;
  }

  .dropbtn {
    font-family: 'Inconsolata', monospace;
    width: 100px;
    height: 32px;
    padding: 5px;
    margin-right: 7px;
  }

  .dropdown {
    display: block;
    float: right;
  }

  .dropdown:hover .dropdown_list,
  .dropdown:focus .dropdown_list {
    display: flex;
    flex-direction: column;
  }

  .dropdown_list {
    display: none;
    align-items: center;
    position: absolute;
    background: #fff;
    margin: 0px;
    border-left: 1px solid var(--primary-color-lighter);
    border-right: 1px solid var(--primary-color-lighter);
    width: 100px;
  }

  .dropdown_list a {
    border-bottom: 1px solid var(--primary-color-lighter);
    width: 100%;
    text-align: center;
    padding: 3px;
    font-family: 'Inconsolata', monospace;
    color: var(--light-grey-text);
  }

  .dropdown_list a:hover,
  .dropdown_list a:focus {
    color: var(--secondary-color)
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  img.page-header__item {
    max-width: 90px;
  }

  .main,
  #main {
    margin-top: 0px;
    padding-top: 10px;
  }

  .navigation-list__item {
    display: none;
  }

  .page-header {
    flex-direction: row;
    height: 42px;
    width: 100vw;
  }  
}