/*
Colors used
Background Color: #eafefe f6f8f8 (cold light grey), d7e3e1
Text Color : #35acac; #848989 (light grey)
Primary Color : #82e4e4;
Secondary Color : #b3f4f4 (lighter); #58cccc (darker)
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #35acac;
}

a:hover {
  color: #848989;
  text-shadow: 0.1em 0.2em 0.3em rgba(0, 0, 0, 0.3);
}

a:focus {
  color: #848989;
  text-shadow: 0.1em 0.2em 0.3em rgba(0, 0, 0, 0.3);
}

a:active {
  /* selected link */
  color: #82e4e4;
  text-shadow: none;
}

.bio-facts {
  list-style-type: circle;
}

body {
  background-color: #f6f8f8;
  font-family: 'Assistant', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;
  font-family: inherit;

  /* styles the button */
  background-color: #35acac;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.3s opacity;
  -o-transition-duration: 0.3s opacity;
  transition-duration: 0.3s opacity;
}

.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  font-family: inherit;

  /* styles the button */
  background-color: #35acac;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.3s opacity;
  -o-transition-duration: 0.3s opacity;
  transition-duration: 0.3s opacity;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
  color: #fff;
}

button:focus {
  cursor: pointer;
  opacity: 0.7;
  color: #fff;
}

.button:hover {
  cursor: pointer;
  opacity: 0.7;
  color: #fff;
}

.button:focus {
  cursor: pointer;
  opacity: 0.7;
  color: #fff;
}

button:active,
.button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.cv {
  text-align: center;
}

div {
  margin: 5px 10%;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8px 1fr 8px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}

.grid__item {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 3px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 3px 15px rgba(0, 0, 0, 0.3);
}

.grid__item:last-child {
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  border: 3px solid #58cccc;
}

/* Grid fallback */
.grid__item {
  display: inline-block;
  width: auto;
  background-color: #fff;
  padding: 12px;
  min-width: 250px;
}

.grid__item footer {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 25px;
}

.grid_img {
  max-width: 100%;
  margin: auto;
}

h1 {
  font-family: 'Space Mono', monospace;
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  font-weight: 700;
}

@-webkit-keyframes letter-grow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes letter-grow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes color-change {
  0% {
    fill: #b3f4f4;
  }

  50% {
    fill: #82e4e4;
  }

  100% {
    fill: #145566;
  }
}

@keyframes color-change {
  0% {
    fill: #b3f4f4;
  }

  50% {
    fill: #82e4e4;
  }

  100% {
    fill: #145566;
  }
}

#path102 {
  -webkit-animation: 3s color-change infinite ease;
  animation: 3s color-change infinite ease;
}

#path104 {
  -webkit-animation: 5s color-change infinite ease;
  animation: 5s color-change infinite ease;
}

#path106 {
  -webkit-animation: 7s color-change infinite ease;
  animation: 7s color-change infinite ease;
}

#path108 {
  -webkit-animation: 9s color-change infinite ease;
  animation: 9s color-change infinite ease;
}

.main,
#main {
  width: 80%;
  padding-bottom: 50px;
  padding-top: 100px;
  padding-left: 7px;
  padding-right: 7px;
  margin: auto;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-right: 30px;
}

.navigation-list__item--active {
  color: #848989;
  font-weight: bold;
  text-shadow: 0.1em 0.2em 0.3em rgba(0, 0, 0, 0.3);
}

.page-header {
  position: fixed;
  background-color: white;
  border-bottom: 2px solid #58cccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-header__item {
  -webkit-box-flex: 1;
  -ms-flex: 1 2;
  flex: 1 2;
}

img.page-header__item {
  max-width: 200px;
  max-height: 60px;
}

.page-header :last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile__footer {
  clear: both;
  text-align: center;
  image-orientation: center;
  margin-bottom: 50px;
}

#Capa_1 {
  width: 50px;
  border-radius: 50%;
}

.profile__portrait {
  float: left;
  margin-right: 10px;
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 250px;
  flex: 1 1 250px;
  -webkit-box-shadow: 4px 3px 25px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 3px 25px rgba(0, 0, 0, 0.3);
}

.profile__text {
  -webkit-box-flex: 2;
  -ms-flex: 2 1 100px;
  flex: 2 1 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.required {
  color: #848989;
  font-size: 14px;
}

span {
  font-family: 'Inconsolata', monospace;
  background-color: #000;
  color: #fff;
}

.SM_icon {
  max-height: 40px;
  max-width: 7%;
}

svg {
  max-height: 300px;
  max-width: 70%;
}

.svg {
  text-align: center;
}

.svg-source {
  font-size: 6px;
  color: #aeb4b4;
}

textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
  height: 150px;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

th {
  border-bottom: 1px solid #35acac;
}

.w1 {
  -webkit-animation: letter-grow 1s 5s 2;
  animation: letter-grow 1s 5s 2;
}

.w2 {
  -webkit-animation: letter-grow 2s 5s 2;
  animation: letter-grow 2s 5s 2;
}

.w3 {
  -webkit-animation: letter-grow 3s 5s 2;
  animation: letter-grow 3s 5s 2;
}

.dot {
  -webkit-animation: letter-grow 4s 5s 2;
  animation: letter-grow 4s 5s 2;
}

@media all and (max-width: 950px) {
  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  .main,
  #main {
    width: 95%;
  }
}

@media all and (max-width: 650px) {
  body {
    font-size: 16px;
  }

  div {
    margin: 10px;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  img.page-header__item {
    position: relative;
  }

  .page-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .profile__text {
    text-align: center;
  }
}