* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #35acac;
}

a:hover {
  color: #B84B9B;
}

a:focus {
  color: #B84B9B;
}

a:active {
  /* selected link */
  color: #82e4e4;
  text-shadow: none;
}

.about {
  background-color: #fff;
  width: 100%;
  padding: 2%;
  margin: 0;
}

.about_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.about_item {
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          text-align: center;
}

.about_img{
  width: 50%;
  max-width: 150px;
}

/* Grid fallback */
.about_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  min-width: 250px;
}

.about_text {
  margin-top: 0px;
}

.bio-facts {
  list-style-type: circle;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f6f8f8;
  font: 300 18px 'Assistant', sans-serif;
  line-height: 1.6;
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;
  font-family: inherit;

  /* styles the button */
  background-color: #35acac;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  -webkit-transition: opacity 0.2s, -webkit-box-shadow 0.3s;
  transition: opacity 0.2s, -webkit-box-shadow 0.3s;
  -o-transition: box-shadow 0.3s, opacity 0.2s;
  transition: box-shadow 0.3s, opacity 0.2s;
  transition: box-shadow 0.3s, opacity 0.2s, -webkit-box-shadow 0.3s;
}

.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  font-family: inherit;

  /* styles the button */
  background-color: #35acac;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  -webkit-transition: opacity 0.2s, -webkit-box-shadow 0.3s;
  transition: opacity 0.2s, -webkit-box-shadow 0.3s;
  -o-transition: box-shadow 0.3s, opacity 0.2s;
  transition: box-shadow 0.3s, opacity 0.2s;
  transition: box-shadow 0.3s, opacity 0.2s, -webkit-box-shadow 0.3s;
}

button:hover {
  cursor: pointer;
  color: #fff;
  -webkit-box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
  background-color: #B84B9B;
}

button:focus {
  cursor: pointer;
  color: #fff;
  -webkit-box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
  background-color: #B84B9B;
}

.button:hover {
  cursor: pointer;
  color: #fff;
  -webkit-box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
  background-color: #B84B9B;
}

.button:focus {
  cursor: pointer;
  color: #fff;
  -webkit-box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
  background-color: #B84B9B;
}

button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #82e4e4;
}

.button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #82e4e4;
}

.cv {
  text-align: center;
}

div {
  margin: 5px 10%;
}

.dropdown {
  display:none;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8px 1fr 8px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}

.grid__item {
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.3);
}

.grid__item:last-child {
  border: 3px solid #B84B9B;
  text-align: center;
}

/* Grid fallback */
.grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  background-color: #fff;
  min-width: 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.layout {
  margin: 5px;
}

.grid__item footer {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 10px;
}

.grid_img {
  max-width: 100%;
  margin: auto;
}

h1 {
  font: 700 30px 'Space Mono', monospace;
}

h2 {
  font: 700 24px 'Space Mono', monospace;
}

h3 {
  font: 700 18px 'Space Mono', monospace;
}

@-webkit-keyframes letter-grow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes letter-grow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes color-change {
  0% {
    fill: #82e4e4;
  }

  50% {
    fill: #35acac;
  }

  100% {
    fill: #B84B9B;
  }
}

@keyframes color-change {
  0% {
    fill: #82e4e4;
  }

  50% {
    fill: #35acac;
  }

  100% {
    fill: #B84B9B;
  }
}

#path102 {
  -webkit-animation: 3s color-change infinite ease;
          animation: 3s color-change infinite ease;
}

#path104 {
  -webkit-animation: 5s color-change infinite ease;
          animation: 5s color-change infinite ease;
}

#path106 {
  -webkit-animation: 7s color-change infinite ease;
          animation: 7s color-change infinite ease;
}

#path108 {
  -webkit-animation: 9s color-change infinite ease;
          animation: 9s color-change infinite ease;
}

.main,
#main {
  width: 80%;
  padding-bottom: 120px;
  padding-top: 80px;
  padding-left: 7px;
  padding-right: 7px;
  margin: auto;
}

.navigation-list {
  list-style-type: none;
  width: 100%;
}

.navigation-list__item {
  margin: 0px;
  width: 20%;
  text-align: center;
  font-size: 20px;
  float: right;
}

.navigation-list__item--active {
  color: #5F6363;
  font-family: 'Inconsolata', monospace;
}

.page-header {
  position: fixed;
  background-color: white;
  border-bottom: 1px solid #35acac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 2;
          flex: 1 2;
}

img.page-header__item {
  max-width: 110px;
  max-height: 50px;
  margin-left: 5%;
  position: relative;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile__footer {
  clear: both;
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 80px;
  margin-bottom: 30px;
}

#Capa_1 {
  width: 50px;
  border-radius: 50%;
}

.profile__portrait {
  float: left;
  margin-right: 10px;
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  -webkit-box-shadow: 4px 3px 25px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 3px 25px rgba(0, 0, 0, 0.3);
}

.profile__text {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 100px;
          flex: 2 1 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.required {
  color: #5F6363;
  font-size: 14px;
}

span {
  font-family: 'Inconsolata', monospace;
  background-color: #000;
  color: #fff;
}

.SM_icon {
  max-height: 40px;
}

svg {
  max-height: 300px;
  max-width: 70%;
}

.svg {
  text-align: center;
}

.svg-source {
  font-size: 6px;
  color: #aeb4b4;
}

textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
  height: 150px;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

th {
  border-bottom: 1px solid #35acac;
}

.w1 {
  -webkit-animation: letter-grow 1s 5s 2;
          animation: letter-grow 1s 5s 2;
}

.w2 {
  -webkit-animation: letter-grow 2s 5s 2;
          animation: letter-grow 2s 5s 2;
}

.w3 {
  -webkit-animation: letter-grow 3s 5s 2;
          animation: letter-grow 3s 5s 2;
}

.dot {
  -webkit-animation: letter-grow 4s 5s 2;
          animation: letter-grow 4s 5s 2;
}

@media all and (max-width: 950px) {
  .about_grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  img.page-header__item {
    max-width: 100px;
    margin-left: 2%;
  }

  .main,
  #main {
    width: 95%;
  }

 .navigation-list__item {
    font-size: 18px;
    width: 25%;
  }
}

@media all and (max-width: 630px) {
  .about_grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }

  body {
    font-size: 16px;
  }

  div {
    margin: 10px;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }
  
  h3 {
    font-size: 16px;
    margin: 10px;
  }

  .main,
  #main {
    width: 98%;
  }
  
  .navigation-list__item {
    margin-bottom: 5px;
    font-size: 16px;
  }

  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .page-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .profile__portrait {
    margin: 0px;
    max-width: 200px;
    max-height: 200px;
  }
  
  .profile__text {
    text-align: center;
  }
}

@media all and (max-width: 420px) {
  .about_img {
    width: 90px;
  }

  .dropbtn {
    font: 14px 'Inconsolata', monospace;
    width: 115px;
  }

  .dropdown {
    display: block;
    float: right;
  }

  .dropdown:hover .dropdown_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .dropdown_list {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    background: #fff;
    margin: 0px;
    border-left: 1px solid #35acac;
    border-right: 1px solid #35acac;
    width: 115px;
  }

  .dropdown_list a {
    border-bottom: 1px solid #35acac;
    width: 100%;
    text-align: center;
    padding: 8px;
    font: 14px 'Inconsolata', monospace;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  img.page-header__item {
    max-width: 90px;
    margin-left: 2%;
  }

  img.profile__portrait {
    max-width: 150px;
    max-height: 150px;
  }

  .main,
  #main {
    width: 100%;
    padding-top: 50px;
  }

  .navigation-list__item {
    display: none;
  }

  .page-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}