* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #B84B9B;
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
}

#contact a {
    color: #3AFFEB;
    font-weight: 600;
}

a:hover {
  color: #35acac;
}

a:focus {
  color: #35acac;
}

a .spanLeft,
a .spanRight{
  font-size: 24px;
  color: #b84b9b;
  opacity: 0;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;  
}

a:hover .spanLeft,
a:hover .spanRight,
a:focus .spanLeft,
a:focus .spanRight {
  opacity:1;
}

#about.main {
  background-color: #fff;
}

.about {
  width: 100%;
  padding: 2%;
  margin: 0;
}

.about_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.about_item {
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about_img{
  width: 50%;
  max-width: 150px;
}

/* Grid fallback */
.about_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  min-width: 200px;
}

.about_skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
}

.about_skills img{
  width: 80px;
  height: 87px;
  margin: 5px;
}

.about_text {
  margin-top: 0px;
}

.bio-facts {
  list-style-type: decimal;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font: 300 18px 'Assistant', sans-serif;
  line-height: 1.6;
  position: relative;
  min-height: 100%;
  min-width: 100%;
  background-color: #f6f8f8;
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;
  font-family: inherit;

  /* styles the button */
  background-color: #268187;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  -webkit-transition: background-color .5s, -webkit-box-shadow .5s;
  transition: background-color .5s, -webkit-box-shadow .5s;
  -o-transition: box-shadow .5s, background-color .5s;
  transition: box-shadow .5s, background-color .5s;
  transition: box-shadow .5s, background-color .5s, -webkit-box-shadow .5s;
}

.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  font-family: inherit;

  /* styles the button */
  background-color: #268187;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  -webkit-transition: background-color .5s, -webkit-box-shadow .5s;
  transition: background-color .5s, -webkit-box-shadow .5s;
  -o-transition: box-shadow .5s, background-color .5s;
  transition: box-shadow .5s, background-color .5s;
  transition: box-shadow .5s, background-color .5s, -webkit-box-shadow .5s;
}

button:hover {
  cursor: pointer;
  color: #fff;
  -webkit-box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
  background-color: #B84B9B;
}

button:focus {
  cursor: pointer;
  color: #fff;
  -webkit-box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
  background-color: #B84B9B;
}

.button:hover {
  cursor: pointer;
  color: #fff;
  -webkit-box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
  background-color: #B84B9B;
}

.button:focus {
  cursor: pointer;
  color: #fff;
  -webkit-box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
  background-color: #B84B9B;
}

button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #35acac;
}

.button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #35acac;
}

#contact .button {
    background-color: transparent;
}

#contact .button:hover,
#contact .button:focus {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.cv {
  text-align: center;
}

div {
  margin: 5px 10%;
}

.dropdown {
  display:none;
}

footer .button {
  margin: auto 2%;
}


.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8px 1fr 8px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}

.grid__item {
  background-color: #fff;
  padding: 2%;
  -webkit-box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.3);
}

.grid__item:last-child {
  border: 3px solid #B84B9B;
  text-align: center;
}

/* Grid fallback */
.grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  background-color: #fff;
  min-width: 290px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.layout {
  margin: 2px;
  position: relative;
  overflow: hidden;
}

.grid__item footer {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 20px;
}

.grid_img {
  max-width: 100%;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.layout:hover .grid_img,
.layout:focus .grid_img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.overlay p span {
  background-color: #B84B9B;
  color: #fff;
  margin: 5px;
}

h1 {
  font: 700 30px 'Space Mono', monospace;
}

h2 {
  font: 700 24px 'Space Mono', monospace;
}

h3 {
  font: 700 18px 'Space Mono', monospace;
}

@-webkit-keyframes letter-grow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes letter-grow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes color-change {
  0% {
    fill: #35acac;
  }

  50% {
    fill: #fff;
  }

  100% {
    fill: #268187;
  }
}

@keyframes color-change {
  0% {
    fill: #35acac;
  }

  50% {
    fill: #fff;
  }

  100% {
    fill: #268187;
  }
}

@-webkit-keyframes pointer-move {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(-1800px, 400px);
            transform: translate(-1800px, 400px);
  }

  100% {
    -webkit-transform: translate(100px, 800px);
            transform: translate(100px, 800px);
  }
}

@keyframes pointer-move {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(-1800px, 400px);
            transform: translate(-1800px, 400px);
  }

  100% {
    -webkit-transform: translate(100px, 800px);
            transform: translate(100px, 800px);
  }
}

#path102 {
  -webkit-animation: 3s color-change infinite ease;
          animation: 3s color-change infinite ease;
}

#path104 {
  -webkit-animation: 5s color-change infinite ease;
          animation: 5s color-change infinite ease;
}

#path106 {
  -webkit-animation: 7s color-change infinite ease;
          animation: 7s color-change infinite ease;
}

#path108 {
  -webkit-animation: 9s color-change infinite ease;
          animation: 9s color-change infinite ease;
}

#path118,
#path120,
#path122,
#path124 {
  -webkit-animation: 5s pointer-move infinite alternate;
          animation: 5s pointer-move infinite alternate;
}

.main {
  min-height: 100vh;
  width: 100%;
  min-width: 870px;
  padding: 55px 8%;
  margin: 0px auto;
}
  
#contact.main {
  text-align: center;
  background-color: #B84B9B;
  color: #fff;
}

.navigation-list {
  max-width: 600px;
  margin-right: 20px;
  margin-left: auto;
}

.navigation-list__item {
  margin: 0px;
  width: 20%;
  text-align: center;
  font-size: 20px;
  color: #268187;
  float: right;
}

.navigation-list__item:hover {
  color: #B84B9B;
}

.navigation-list__item:focus {
  color: #B84B9B;
}

.overlay {
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(38, 129, 135, 0.7);
  opacity: 0;
  text-align: center;
  padding: 2%;
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.layout:hover .overlay,
.layout:focus .overlay {
  opacity: 1;
}

.page-header {
  position: fixed;
  z-index: 10;
  background-color: white;
  border-bottom: 1px solid #35acac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: slide-out 3s;
          animation: slide-out 3s;
}

@-webkit-keyframes slide-out {
    0% {
      -webkit-transform: translateY(-20vh);
              transform: translateY(-20vh);
    }
  
    80% {
      -webkit-transform: translateY(-15vh);
              transform: translateY(-15vh);
    }
  
    100% {
      -webkit-transform: translateY(0vh);
              transform: translateY(0vh);
    }
  }

@keyframes slide-out {
    0% {
      -webkit-transform: translateY(-20vh);
              transform: translateY(-20vh);
    }
  
    80% {
      -webkit-transform: translateY(-15vh);
              transform: translateY(-15vh);
    }
  
    100% {
      -webkit-transform: translateY(0vh);
              transform: translateY(0vh);
    }
  }

.page-header__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 2;
          flex: 1 2;
}

img.page-header__item {
  width: 90px;
  height: 40px;
  margin-left: 30px;
  margin-top: 6px;
}

#profile.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;  
  margin-top: 0px;
}

.profile__footer {
  clear: both;
  text-align: center;
  bottom: 0;
  margin-left: -8%;
  position: absolute;
  width: 101%;
  height: 110px;
  background-color: #35acac;
  color: #000;
  border-top: 2px solid #fff;
}

.profile__portrait {
  float: left;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
  margin-right: 50px;
  max-width: 280px;
  max-height: 280px;
  border-radius: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  -webkit-box-shadow: 4px 3px 25px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 3px 25px rgba(0, 0, 0, 0.3);
  -webkit-animation: roll-out 2.5s;
          animation: roll-out 2.5s;
}

@-webkit-keyframes roll-out{
    0% {
        -webkit-transform: translateX(-100vw);
                transform: translateX(-100vw);
    }
    50% {
        -webkit-transform: translateX(-100vw) rotate(0deg);
                transform: translateX(-100vw) rotate(0deg);
    }
    100% {
        -webkit-transform: translateX(0vw) rotate(360deg);
                transform: translateX(0vw) rotate(360deg);
    }
}

@keyframes roll-out{
    0% {
        -webkit-transform: translateX(-100vw);
                transform: translateX(-100vw);
    }
    50% {
        -webkit-transform: translateX(-100vw) rotate(0deg);
                transform: translateX(-100vw) rotate(0deg);
    }
    100% {
        -webkit-transform: translateX(0vw) rotate(360deg);
                transform: translateX(0vw) rotate(360deg);
    }
}

.profile__text {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 150px;
          flex: 2 1 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
  font-size: 24px;
}

.profile__text h1 {
    overflow: hidden; 
    -webkit-animation: type-hello 1s steps(6,end) 1; 
            animation: type-hello 1s steps(6,end) 1;
}

@-webkit-keyframes type-hello{
    from {
        width: 0px;
    }
    to {
        width: 107px;
    }
}

@keyframes type-hello{
    from {
        width: 0px;
    }
    to {
        width: 107px;
    }
}

.profile__text p {
    -webkit-animation: slide-left 2.5s;
            animation: slide-left 2.5s;
}

@-webkit-keyframes slide-left{
    0% {
        -webkit-transform: translateX(100vw);
                transform: translateX(100vw);
    }
    50% {
        -webkit-transform: translateX(100vw);
                transform: translateX(100vw);
    }
    100% {
        -webkit-transform: translateX(0vw);
                transform: translateX(0vw);
    }
}

@keyframes slide-left{
    0% {
        -webkit-transform: translateX(100vw);
                transform: translateX(100vw);
    }
    50% {
        -webkit-transform: translateX(100vw);
                transform: translateX(100vw);
    }
    100% {
        -webkit-transform: translateX(0vw);
                transform: translateX(0vw);
    }
}

.profile__text .button {
    font-size: 20px;
    -webkit-animation: button-fadein 3s;
            animation: button-fadein 3s;
}

@-webkit-keyframes button-fadein{
    0% {
      opacity: 0;
    }
    90% {
        opacity: 0;
      }
    100% {
      opacity: 1;
    }
}

@keyframes button-fadein{
    0% {
      opacity: 0;
    }
    90% {
        opacity: 0;
      }
    100% {
      opacity: 1;
    }
}

.required {
  color: #5F6363;
  font-size: 14px;
}

span {
  font-family: 'Inconsolata', monospace;
  padding: 3px;
}

span.web {
  background-color: #000;
  color: #fff;
  margin: 3px; 
}

span.animation {
    border-right: solid 3px #B84B9B;
    font-family: 'Assistant', sans-serif;  
    padding: 0px;
    -webkit-animation: animated-cursor 600ms infinite;
            animation: animated-cursor 600ms infinite;
}
  
  /* cursor animations */
@-webkit-keyframes animated-cursor{
    from {
      border-right-color: #B84B9B;
    }
    to {
      border-right-color: transparent;
    }
}
@keyframes animated-cursor{
    from {
      border-right-color: #B84B9B;
    }
    to {
      border-right-color: transparent;
    }
}

.SM_icon {
  height: 30px;
}

svg {
  max-height: 300px;
}

.svg-source {
  font-size: 6px;
  color: #fff;
  margin-top: -10px;
  margin-bottom: 60px;
  text-align: center;  
}

textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
  height: 150px;
}

.w1 {
  -webkit-animation: letter-grow 1s 5s 2;
          animation: letter-grow 1s 5s 2;
}

.w2 {
  -webkit-animation: letter-grow 2s 5s 2;
          animation: letter-grow 2s 5s 2;
}

.w3 {
  -webkit-animation: letter-grow 3s 5s 2;
          animation: letter-grow 3s 5s 2;
}

.dot {
  -webkit-animation: letter-grow 4s 5s 2;
          animation: letter-grow 4s 5s 2;
}

@media all and (max-width: 970px) {
  .about_grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  img.page-header__item {
    width: 70px;
    height: 35px;
    margin-left: 10px;
  }

  .main{
    padding: 55px 3%;
    min-width: 290px;
  }

  .navigation-list {
    margin-right: 0;
  }

 .navigation-list__item {
    font-size: 18px;
    width: 25%;
  }

  .profile__footer {
    margin-left: -3%;
  }
}

@media all and (max-width: 630px) {
  body {
    font-size: 16px;
  }

  div {
    margin: 10px;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }
  
  h3 {
    font-size: 18px;
    margin: 10px;
  }

  img.page-header__item {
    width: 60px;
    height: 30px;
    margin: 0px;
  }

  .main{
    padding: 50px 1%;
  }
  
  .navigation-list {
    width: 100%;
    margin-left: 0;
  }

  .navigation-list__item {
    margin-bottom: 5px;
    font-size: 16px;
  }

  #profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .profile__footer {
    margin-left: -1%;
    height: 90px;
  }

  .page-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .page-header a {
    height: 30px;
  }

  .profile__portrait {
    margin: 0px;
    margin-top: 10vh;
    max-width: 180px;
    max-height: 180px;
  }
  
  .profile__text {
    text-align: center;
    font-size: 18px;
  }

  .profile__text h1 {
    font-size: 24px;
    margin: 10px auto;
  }

  .profile__text .button{
    font-size: 16px;
  }
}

@media all and (max-width: 430px) {
  .about_grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }

  .about_img {
    width: 90px;
  }

  .about_skills img{
    width: 60px;
    height: 65px;
  }

  .dropbtn {
    font-family: 'Inconsolata', monospace;
    width: 100px;
    height: 35px;
    padding: 5px;
    margin-right: 7px;
  }

  .dropdown {
    display: block;
    float: right;
  }

  .dropdown:hover .dropdown_list,
  .dropdown:focus .dropdown_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .dropdown_list {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    background: #fff;
    margin: 0px;
    border-left: 1px solid #35acac;
    border-right: 1px solid #35acac;
    width: 100px;
  }

  .dropdown_list a {
    border-bottom: 1px solid #35acac;
    width: 100%;
    text-align: center;
    padding: 4px;
    font-family: 'Inconsolata', monospace;
    color: #5F6363;
  }

  .dropdown_list a:hover {
    color: #B84B9B
  }

  .dropdown_list a:focus {
    color: #B84B9B
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

   img.page-header__item {
    width: 70px;
    height: 35px;
    margin-left: 7px;
  }

  .navigation-list__item {
    display: none;
  }

  .page-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 45px;
    width: 100vw;
  }  
}